.comment{
  padding: 0 16px;
}
.publish-msg{
  display:flex;
  align-items: center;

  button {
      margin-left: 10px;    
  }
 
}
app-cf-scroll {
  display: block;
  height: 260px;
  position: relative;
  padding: 20px 20px 0px 0px;
  .content{
    display: flex;
    flex-direction: column;
    font-size: 14px;
   .item{
     margin-bottom: 6px;
     
     .fnode{
       display: flex;
       flex-direction: column;
       .creater{
        font-weight: bold;
       }
       .content{
        display: flex;
        flex-wrap: wrap;
       }
       .time{
  
         color: #C7C7C7;;
       }
     }
     .cnodes{
       margin-left: 15px;
       .jtem{
         display: flex;
         flex-wrap: wrap;
         margin-top: 5px;
       }
     }
     .replay{
       color: #5893c2;
       margin-right: 5px;
       cursor: pointer;
     }
     .delete{
       color: #5893c2;
       margin-right: 5px;
       cursor: pointer;
     }
   }
   .replay-control{
     width: 100%;
     display: flex;
     align-items: center;
     button{
      margin-left: 5px;
     }
     input{
       flex: 1;
     }
   }
  }
}