<div class="container">
  <div class="base-info-item">
    <label> <span>*</span>名称：</label>
    <input
      nz-input
      placeholder="请输入标记名称（15个字以内）"
      [(ngModel)]="value"
    />
  </div>
  <div class="base-info-item">
    <label> <span>*</span>公开度：</label>
    <nz-radio-group [(ngModel)]="radioValue">
      <label nz-radio nzValue="公开">公开</label>
      <label nz-radio nzValue="私有">私有</label>
    </nz-radio-group>
  </div>
  <div class="base-info-item">
    <label><span>*</span>分类：</label>
    <input nz-input placeholder="请选择" [(ngModel)]="value" />
  </div>
  <div class="base-info-item">
    <label><span>*</span>标签：</label>
    <div class="tags">
      <nz-tag class="item-tag"
      *ngFor="let tag of tags; let i = index"
      [nzMode]="i === 0 ? 'default' : 'closeable'"
      (nzAfterClose)="handleClose(tag)"
    >
      {{ sliceTagName(tag) }}
    </nz-tag>
    <nz-tag 
      *ngIf="!inputVisible"
      class="editable-tag"
      nzNoAnimation
      (click)="showInput()"
    >
      <i nz-icon nzType="plus"></i> 新建标签
    </nz-tag>
    <input
      #inputElement
      nz-input
      nzSize="small"
      *ngIf="inputVisible"
      type="text"
      [(ngModel)]="inputValue"
      style="width: 78px"
      (blur)="handleInputConfirm()"
      (keydown.enter)="handleInputConfirm()"
    />
    </div>
  
  </div>
  <div class="base-info-item">
    <label>描述信息：</label>
    <textarea
      nz-input
      placeholder="请输入该标记描述信息"
      [nzAutosize]="{ minRows: 3, maxRows: 3 }"
    ></textarea>
  </div>
</div>
