.wrapper{
  width: 380px;
  background: #ffffff;
  padding:  0 16px 16px 16px;
  height: 100%;
  position: relative;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  .title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .edit{
      cursor: pointer;
      color: #1077E9;
      &>i{
        margin-right: 5px;
      }
    }
  }
 .list  {
    display: block;
     height: calc(100%);
    position: relative;
    overflow: auto;
    .content {
      display: flex;
      flex-direction: column;
      .list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        font-size: 14px;
        padding-top: 10px;
        .item {
          width: 170px;
          height: 32px;
          background: #FFFFFF;
          border: 1px solid #D9D9D9;
          opacity: 1;
          border-radius: 4px;
          color: #999;
          line-height: 32px;
          text-align: center;
          margin-top: 8px;
          cursor: pointer;
        }
        .active {
          color: #1077E9;
          border: 1px solid #1077E9;
        }
      }
    }
  }
}
::ng-deep.ant-empty-image{
  height: 78px;
}
