.wrapper {
  width: 100%;
  height: 100%;
  padding: 20px;

  app-label-container{
    display: block;
    width: 380px;
    height: 100%;
    display: flex;
    flex-direction: column;;
    lb-classify-list{
      height: 160px;
      position: relative;
      display: flex;
    }
    lb-classify-tree {
      background: #ffffff;
      position: relative;
      height: calc(100% - 160px);
      display: flex;

    }
  }
}
