<div class="container">
  <div class="title">
    <div class="left">
      共找到 <span class="total-count">{{labelList?.totalRecord }}</span> 条结果
    </div>
    <div class="right" (click)="togglePanel(!showPanel)">
      <ng-container *ngIf="showPanel; else elseTemplate"> 收起 </ng-container>
      <ng-template #elseTemplate>展开</ng-template>
    </div>
  </div>

  <div class="data-content" *ngIf="showPanel">
    <!--  @listToggle -->
    <app-cf-scroll>
      <div class="content" (mouseleave)="mouseLeave()" >
        <div class="item" [style.opacity]="item.hidden?0.2:1"
             *ngFor="let item of labelList?.list;
             let i = index" (mouseenter)="mouseenter(item)"
             (click)="itemClick(item)"
        >
          <img class="index-logo" src="./assets/img/map/pin_{{ i + 1 }}.png" />
          <div class="right">
            <!-- 這裡用管道優化-->
            <img  *ngIf="item.status==0" [src]="imgs[0]" />
            <img  *ngIf="item.status==1" [src]="imgs[1]" />
            <img  *ngIf="item.status==2" [src]="imgs[2]" />
            <img  *ngIf="item.status==3" [src]="imgs[3]" />
            <span>{{ item.title }}</span>
            <ng-container *ngIf="!item.hidden">
              <img class="eyeImg"
                   *ngIf="item.tagid==hoverItem?.tagid"
                   [src]="'./assets/img/map/icon_list_display.png'"
                   (click)="hideItem(item,$event);"
              />
            </ng-container>
            <ng-container *ngIf="item.hidden">
              <img class="eyeImg"
                   *ngIf="item.tagid==hoverItem?.tagid"
                   [src]="'./assets/img/map/icon_list_hide.png'"
                   (click)="hideItem(item,$event);"
              />
            </ng-container>
            <img *ngIf="item.issubscribe==1" [src]="'./assets/img/map/icon_list_selected.png'" />
            <img *ngIf="item.issubscribe==0" [src]="'./assets/img/map/icon_list_select.png'" />
          </div>
        </div>
      </div>
    </app-cf-scroll>

    <div class="pagination">
      <nz-pagination (nzPageIndexChange)="pageIndexChange($event)" [nzPageIndex]="currentPage" [nzTotal]="labelList?.totalRecord" [nzPageSize]="pageSize"></nz-pagination>
    </div>
  </div>
</div>
