.container {
  border-radius: 4px 4px 0px 0px;
  pointer-events: all;
  display: flex;
  flex-direction: column;
  height: 100%;
  .title {
    height: 40px;
    background: linear-gradient(95deg, #005ccd 0%, #0092de 100%);
    display: flex;
    padding: 0px 16px;
    align-items: center;
    color: #fff;
    .left {
      flex: 1;
    }
    .right {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .toggle{
          cursor: pointer;
      }
      .close {
        font-size: 14px;
        font-weight: bold;
        margin-left: 10px;
        cursor: pointer;
      }
    }
  }
  .content{
    //   height: 500px;
    //   background: #fff;
    flex: 1;
   }
}
