<div class="editmark">
  <app-label-container
    title="新建标记"
    [closeble]="false"
    [toggleble]="false"
    *ngIf="isOpen"
    (closed)="closePancel($event)"
  >
    <div class="top">
      <app-add-marker-statue
        [selectIndex]="addStatueIndex"
      ></app-add-marker-statue>
      <app-base-info *ngIf="addStatueIndex == 0"></app-base-info>
      <app-label-feature *ngIf="addStatueIndex == 1"></app-label-feature>
    </div>
    <div class="bottom">
      <button
        nz-button
        nzType="default"
        (click)="beforeClick()"
        *ngIf="addStatueIndex > 0"
      >
        上一步
      </button>
      <button nz-button nzType="primary" (click)="nextClick()">下一步</button>
    </div>
  </app-label-container>
</div>
