.label-detail {
  width: 380px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  background: #ffffff;

  .header {
    display: flex;
    cursor: pointer;
    align-items: center;
    i {
      margin-right: 10px;
    }
  }

}
