<div class="containier">
  <div class="searchMeun">
    <nz-input-group [nzSuffix]="suffixIcon" style="width: 100%">
      <input type="text" nz-input placeholder="搜索图层树"  [(ngModel)]="searchValue" />
    </nz-input-group>
    <ng-template #suffixIcon>
      <i nz-icon nzType="search"></i>
    </ng-template>
    <button nz-button nzType="primary" (click)="clearAllSelected()">清除选择</button>
  </div>
  <div class="layer-sta">
    共有{{totalLayer}}个叶子分类
  </div>
  <div id="tree-container">
    <div class="content" (mouseleave)="mouseleave()" >
      <nz-tree [(nzData)]="nodes" nzCheckable nzMultiple 
            
               (nzDblClick)="openFolder($event)"  [nzSearchValue]="searchValue"
               [nzCheckedKeys]="defaultCheckedKeys" [nzTreeTemplate]="nzTreeTemplate" (nzCheckBoxChange)="checkChange($event)"
               [nzExpandedIcon]="mutiExpandedIconTpl" (nzSearchValueChange)=searchValueChange($event)>
      </nz-tree>
      <ng-template #nzTreeTemplate let-node>
        <span class="custom-node"(mouseover)="mouseover(node)"  >
          <div *ngIf="!node.isLeaf">
            <img src="./assets/img/maptree/group-node.png" />
            <span [ngStyle]="{'color': node.origin.searched?'#1077e9':'rgba(0,0,0,0.65)'}" class="parent-name">
              {{ node.title }}({{node.origin.count}})</span>
          </div>
          <div *ngIf="node.isLeaf" >
            <!-- (contextmenu)="contextMenu($event, menu)" -->
            <img src="./assets/img/maptree/leaf-node.png" />
            <span [ngStyle]="{'color': node.origin.searched?'#1077e9':'rgba(0,0,0,0.65)'}" class="child-name">{{ node.title }} ( {{node.origin.count}})</span>
            <img class="chilld-search" *ngIf="node.origin.query"  src="./assets/img/maptree/search.png" />
          </div>
          <div class="editInput" *ngIf="node.key===editNode?.key">
             <input nz-input  [(ngModel)]="updateNodeNameValue"  (click)="inputClick($event)" (keyup)="editOnKey(node,$event)" />
          </div>
           <div class="editInput" *ngIf="node.key===addNode?.key">
             <input nz-input  [(ngModel)]="updateNodeNameValue" (click)="inputClick($event)"  (keyup)="addOnKey(node,$event)" />
           </div>
          <div class="icons" *ngIf="hoverNode && node.origin.key===hoverNode.origin.key">
            <i nz-icon nzType="delete" (click)="showDeleteConfirm(node,$event)"  nzTheme="outline"></i>
            <i nz-icon nzType="edit" (click)="edit(node,$event)" nzTheme="outline"></i>
            <i nz-icon nzType="plus" (click)="add(node,$event)" nzTheme="outline"></i>
          </div>
        </span>
      </ng-template>
      <ng-template #mutiExpandedIconTpl let-node>
        <i style="color: #0c9fb2;" *ngIf="!node.origin.isLeaf" nz-icon
           [nzType]="node.isExpanded ? 'minus-square' : 'plus-square'" nzTheme="outline"></i>
      </ng-template>
    </div>


  </div>


</div>
