.wrapper {
  width: 100%;
  height: 100%;
  padding: 20px;
  .add-mark {
    position: absolute;
    top: 20px;
    right: 342px;
    pointer-events: all;

    .cancel {
      display: flex;
      margin-top: 4px;
      justify-content: flex-end;
      button {
        text-align: center;
        height: 32px;
      }
    }
  }
  .edit-tool {
    position: absolute;
    top: 20px;
    left: 480px;
 
  }
}
