<div class="wrapper">
<!--  MarkerStatue 1 none ,1 moving 2 edit -->
  <app-label-search
    *ngIf="markerStatue != 2"
    [defaultSearchParams]="defaultSearchParams"
    (search)="doSearch($event)"
    [tagList]="tagList"
  ></app-label-search>
  <app-label-add
    *ngIf="markerStatue == 2"
  ></app-label-add>
  <div class="add-mark">
    <button nz-button nzType="primary" (click)="addMarker()">
      <i nz-icon nzType="plus" nzTheme="outline"></i>添加标记
    </button>
    <div class="cancel" *ngIf="markerStatue != 0">
      <button nz-button nzType="default" (click)="stopMarker()">取消</button>
    </div>
  </div>
  <div class="edit-tool" *ngIf="showEditTool"  >
    <lb-edit-tool></lb-edit-tool>
  </div>
</div>
