<div class="search">
  <app-label-container [closeble] = 'false' *ngIf="isOpen" (closed)="closeContainer()">
    <ng-container name="header">
     {{modelName=='sign'?'查询标记':'收藏夹'}}
    </ng-container>
    <ng-container name="content">
      <div class="top">
        <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
          <input type="text" nz-input [(ngModel)]="keyString" placeholder="请输入关键字" />
        </nz-input-group>
        <div class="condition param-item">
        <span class="toggle" (click)="toggleFilter =!toggleFilter"
        >属性筛选<i
          nz-icon
          style="margin-left: 5px"
          [nzType]="toggleFilter?'up':'down'"
          nzTheme="outline"
        ></i
        ></span>
          <span class="clear" (click)="clearParams()">清空条件</span>
        </div>
        <ng-container *ngIf="toggleFilter">
          <!-- <div class="mark-classify param-item">
            <span>标记分类：</span>
            <nz-cascader   [nzOptionRender]="renderTpl"
                           [(ngModel)]="classifyValues"
                           [nzExpandTrigger]="'hover'"
                           [nzOptions]="classifyTree"
                           (ngModelChange)="classifyOnChanges($event)"
                           [nzValueProperty]="'nodeid'"
                           [nzLabelProperty]="'title'"
            >
            </nz-cascader>
          </div> -->
          <div class="select-time param-item">
            <span>创建时间：</span>
            <nz-range-picker
              [nzFormat]="dateFormat"
              [(ngModel)]="dateRange"
              (ngModelChange)="timeRangeOnChange($event)"
            ></nz-range-picker>
          </div>
        </ng-container>
      </div>
      <div class="bottom">
        <app-label-list
          [currentPage] = 'pageNumber'
          [pageSize]="pageSize"
          [labelList]='tagList'
          (hideFeature)="hideFeature($event)"
          (tagItemClick)="tagItemClick($event)"
          (pageItemClick) = "pageItemClick($event)"
          (toggleSub)="toggleSub($event)"
        ></app-label-list>
      </div>
    </ng-container>
  </app-label-container>
</div>
<ng-template #suffixButton>
  <button nz-button nzType="primary" nzSize="large" nzSearch (click)="doSearch();">查询</button>
</ng-template>
<ng-template #renderTpl let-option let-index="index">  {{ option?.title }} </ng-template>
